r>
<div class="container">
  <div class="row">
    <div class="col">
      <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
      </div>
    <div class="col"><button type="submit" class="btn btn-info">Get Transcipt</button>
    <div class="form-group"  >
      <label for="transcript"></label>
      <textarea class="form-control" rows="10" id="transcript" type="text" sname="text" ></textarea>
    </div>
    </div>
    <br>
    <div class="w-100">
      <br>
      <div class="col"><button type="submit" class="btn btn-info">Caption/Subtitles</button>
      <br>
      <br>
      </div>
    </div>
    <div class="col">
      <iframe [class.thumbnail]="thumbnail" [src]="safeSrc" width="560" height="315" frameborder="0" src="https://youtube/embed/u3u22OYqFGo" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe></div>
  </div>
</div>